@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$primary-background: #cdcdcd;

.project_container {
  @include flex(row, space-between, center);
  padding: 1rem 1rem;
  width: 100%;
  border-top: 1px solid rgb(57, 57, 57);
  cursor: pointer;
  transition: all 0.2s linear;
}

.project_container:hover {
  opacity: 0.4;
}

.project_container:hover h3 {
  transform: translateX(-5px);
  transition: all 0.2s linear;
  margin: 0;
}

.project_container:hover p {
  transform: translateX(5px);
  transition: all 0.2s linear;
}

.title {
  font-weight: 400;
}
