@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.profile {
  padding-inline: 1rem;
  overflow: hidden;
  position: relative;
  height: 145vh;
}

.title {
  font-weight: 400;
  padding-top: 1rem;
}

.slider_container {
  position: absolute;
  bottom: calc(145vh - 9rem);
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.slider h2 {
  position: relative;
  margin: 0.5rem;
  font-size: 4rem;
  padding-right: 2.5rem;
}

.slider h2:nth-of-type(2) {
  position: absolute;
  left: 100%;
}

.text_section {
  padding-top: 6rem;
}

.header {
  font-size: 2rem;
}

.text {
  padding-top: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.email {
  text-decoration: none;
}
