@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$small-mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$big-tablet-breakpoint: 1035px;
$desktop-breakpoint: 1280px;
$big-desktop-breakpoint: 1400px;
$large-desktop-breakpoint: 1550px;
$xl-desktop-breakpoint: 1700px;
$max-width: 1550px;

@mixin small-mobile {
  @media (min-width: $small-mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin big-tablet {
  @media (min-width: $big-tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: $big-desktop-breakpoint) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $big-desktop-breakpoint) {
    @content;
  }
}

@mixin xl-desktop {
  @media (min-width: $xl-desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

.profile {
  padding-inline: 1rem;
  overflow: hidden;
  position: relative;
  height: 145vh;

  @include small-mobile {
    height: 133vh;
  }

  @include tablet {
    height: 105vh;
    padding-inline: 2rem;
  }

  @include big-tablet {
    height: 107vh;
  }

  @include desktop {
    height: 100vh;
    padding-inline: 4rem;
  }

  @include big-desktop {
    height: 98vh;
    padding-inline: 4rem;
  }

  @include large-desktop {
    height: 96vh;
    padding-inline: 4rem;
  }

  @include xl-desktop {
    height: 90vh;
    padding-inline: 4rem;
  }
}

.title {
  font-weight: 400;
  padding-top: 1rem;

  @include desktop {
    padding-top: 1.5rem;
  }
}

.slider_container {
  position: absolute;
  bottom: calc(145vh - 10.5rem);

  @include small-mobile {
    bottom: calc(133vh - 10.5rem);
  }

  @include tablet {
    top: calc(105vh - 8.5rem);
  }

  @include big-tablet {
    top: calc(107vh - 10rem);
  }

  @include desktop {
    top: calc(100vh - 14rem);
  }

  @include big-desktop {
    top: calc(98vh - 16rem);
  }

  @include large-desktop {
    top: calc(96vh - 15rem);
  }

  @include xl-desktop {
    top: calc(90vh - 17rem);
  }
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.slider h2 {
  position: relative;
  margin: 0.5rem;
  font-size: 6rem;
  padding-right: 2.5rem;

  @include tablet {
    font-size: 7rem;
    padding-right: 3rem;
  }

  @include big-tablet {
    font-size: 9rem;
    padding-right: 5rem;
  }

  @include desktop {
    font-size: 10rem;
    padding-right: 5rem;
  }

  @include big-desktop {
    font-size: 13rem;
    padding-right: 5.5rem;
  }

  @include large-desktop {
    font-size: 12rem;
    padding-right: 6rem;
  }

  @include large-desktop {
    font-size: 13rem;
    padding-right: 6rem;
  }
}

.slider h2:nth-of-type(2) {
  position: absolute;
  left: 100%;
}

.text_section {
  padding-top: 6rem;

  @include tablet {
    padding-top: 1rem;
  }
}

.header {
  font-size: 2rem;

  @include desktop {
    padding-top: 1.5rem;
  }
}

.text {
  padding-top: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.email {
  text-decoration: none;
}

.button_container {
  padding-top: 2rem;
}
