$primary-background: #cdcdcd;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.page_content {
  height: 100vh;
  width: 100vw;
}

.header {
  padding: 1rem;
}

.button_container {
  padding: 1rem;
}

.articles {
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  @include flex(column, flex-start, center);
  width: 100%;
  gap: 2rem;
}

.reorder {
  position: absolute;
  margin-bottom: 1rem;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:nth-child(2) {
    left: 1%;
  }
}
