$primary-background: #cdcdcd;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.page_content {
  height: 100vh;
  background-color: $primary-background;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 3rem;
  }
}

.header {
  padding: 1rem;
}

.button_container {
  padding: 1rem;
}

.articles {
  position: relative;
  padding-left: 1rem;
  top: 5%;

  @include desktop {
    top: 10%;
  }
}

.reorder {
  position: relative;
}

.text_section {
  margin-top: 50vh;

  p {
    font-size: 4vh;
  }
}
