$primary-background: #cdcdcd;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.page_content {
  height: 100vh;
}

.header {
  padding: 1rem;
}

.button_container {
  padding: 1rem;
}

.articles {
  position: relative;
  left: 20%;
  top: 5%;

  @include desktop {
    left: 40%;
    top: 10%;
  }
}

.reorder {
  position: relative;
}
