$primary-background: #cdcdcd;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.article {
  border: 1px solid black;
  border-radius: 0.5rem;
  position: absolute;
  max-width: 12rem;
  min-height: 10rem;
  padding: 1rem;
  @include flex(column, center, center);
  gap: 0.8rem;
  background-color: red;
  color: black;
}

.revealed {
  &:nth-child(2) {
    margin-top: 20rem;
  }

  &:nth-child(3) {
    left: 50%;
  }

  &:nth-child(4) {
    left: 50%;
    margin-top: 20rem;
  }

  @include desktop {
    &:nth-child(1) {
      margin-top: 0;
      margin-right: 10rem;
    }

    &:nth-child(2) {
      margin-top: 0;
      margin-left: 20rem;
    }

    &:nth-child(3) {
      margin-top: 0;
      margin-right: 20rem;
    }
  }
}
