$primary-background: #cdcdcd;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.article {
  border: 1px solid black;
  border-radius: 0.5rem;
  min-height: 20vh;
  @include flex(column, flex-start, center);
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
