@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.hero {
  padding-inline: 1rem;
  @include flex(row, center, center);
}

.image_container {
  padding-top: 1rem;
  height: 70vh;
}
.images {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
