@import "variables.module.scss";
@import "typography.module.scss";

$primary-background: green;

.resets {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    background-color: primaryBackground;
    color: primaryColor;
    font-family: primaryFont;
  }

  .hello {
    background-color: $primary-background;
  }
}
