@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$big-tablet-breakpoint: 1035px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin big-tablet {
  @media (min-width: $big-tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
  @include max-content;
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

.about {
  padding: 2rem 1rem 0;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 4rem;
  }
}

.text_container {
  @include desktop {
    @include flex(row, flex-end, center);
  }
}

.text {
  font-size: 0.8rem;
  padding: 0;
  width: 100%;

  @include desktop {
    font-size: 1rem;
  }
}

.button_container {
  @include flex(row, flex-end, stretch);
  margin: 2rem 0 0.5rem;

  @include desktop {
    @include flex(row, flex-start, stretch);
  }
}
