@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap");

$primary-background: #cdcdcd;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.content {
  padding-inline: 1rem;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 4rem;
  }
}

.info_container {
  @include flex(column, center, flex-start);
  padding-top: 0.5rem;
  gap: 0.5rem;

  @include tablet {
    @include flex(row, flex-start, flex-end);
    gap: 0;
  }
}

.heading {
  font-weight: 400;
  padding-top: 1rem;
}

.link {
  text-decoration: none;
}

.info {
  padding: 0.25rem 0;
  border-bottom: 1px solid black;
  width: 100%;
}
.header {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.button_container {
    width: 100%;
    @include flex(row, space-between, stretch);
  
    @include tablet {
      @include flex(row, flex-end, stretch);
      gap: 0.5rem;
      border-bottom: 1px solid black;
      padding-bottom: 0.5rem;
    }
  }
  
  .summary {
    padding-top: 0.5rem;
  }