@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$big-tablet-breakpoint: 1035px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin big-tablet {
  @media (min-width: $big-tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

.container {
  @include flex(column, space-evenly, flex-start);
  padding-inline: 1rem;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 4rem;
    padding-top: 2rem;
  }
}

.top_section {
  padding-top: 1rem;
  width: 100%;
  @include flex(row, flex-start, stretch);
  gap: 0.5rem;
  clip-path: polygon("0 0", "0 0", "0 100%", "0 100%");

  @include desktop {
    padding-bottom: 1rem;
  }
}

.heading_container {
  @include flex(column, flex-end, flex-start);
}

.image {
  object-fit: cover;

  @include desktop {
    height: 30vh;
    width: 25vh;
  }
}

.title {
  font-weight: 400;
}

.heading {
  font-weight: 400;
  padding-top: 1rem;
}

.contact_heading {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-top: 1rem;
}

.email {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.form {
  @include flex(column, center, flex-start);
  width: 100%;
  padding-top: 1rem;

  @include desktop {
    padding-top: 3rem;
  }
}

.form_col {
  @include flex(column, center, flex-start);
  width: 100%;
  border-top: 1px solid rgb(45, 45, 45);
}

.label_header {
  width: 100%;
  padding-top: 0.5rem;
}

.number {
  display: inline;
  font-size: 0.5rem;
  padding-right: 0.5rem;
}

.label {
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}

.activeLabel {
  color: rgba(45, 45, 45, 0.4);
}

.input {
  padding: 1rem;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

.button_container {
  width: 100%;
}

.button_container {
  padding-bottom: 1rem;
}

.button {
  width: 100%;
}

.button_confirm {
  background-image: url("../../assets/icons/likes.svg");
}

.error_outline {
  background: rgba(112, 6, 6, 0.1);
  border-radius: 1rem;
}

.error {
  font-size: 0.8rem;
  color: rgb(205, 4, 4);
}
