@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.container {
  @include flex(column, space-evenly, flex-start);
  padding-inline: 1rem;
}

.top_section {
  padding-top: 1rem;
  width: 100%;
  @include flex(row, flex-start, stretch);
  gap: 0.5rem;
}

.heading_container {
  @include flex(column, space-between, flex-start);
}

.image {
  object-fit: cover;
}

.heading {
  font-weight: 400;
}

.contact_heading {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-top: 1rem;
}

.email {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.form {
  @include flex(column, center, flex-start);
  width: 100%;
  padding-top: 1rem;
}

.form_col {
  @include flex(column, center, flex-start);
  width: 100%;
  border-top: 1px solid rgb(45, 45, 45);
}

.label_header {
  width: 100%;
  padding-top: 0.5rem;
}

.number {
  display: inline;
  font-size: 0.5rem;
  padding-right: 0.5rem;
}

.label {
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}

.activeLabel {
  color: rgba(45, 45, 45, 0.4);
}

.input {
  padding: 1rem;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
}

.button_container {
  width: 100%;
}

.button {
  width: 100%;
}

.button_confirm {
  background-image: url("../../assets/icons/likes.svg");
}
