@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$primary-background: #cdcdcd;
$big-mobile-breakpoint: 660px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin big-mobile {
  @media (min-width: $big-mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin big-tablet {
  @media (min-width: $big-tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

.contact {
  padding-top: 1rem;
  margin: 10vh 0;
}

.contact_section {
  padding: 1rem 0;
  height: 65vh;
  @include flex(row, flex-start, flex-end);

  @include tablet {
    padding: 2rem 2rem 1rem;
  }

  @include tablet {
    padding-inline: 4rem;
  }
}

.contact_email {
  padding-top: 3vh;
}

.contact_button {
  font-size: 0.7rem;
  text-decoration: none;
  @include flex(row, flex-start, stretch);
}

.text_container {
  p {
    font-size: 7vh;
    width: 80%;

    span {
      font-style: italic;
    }
  }
}

.image_container {
  height: 100%;
  width: 20rem;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  .image {
    background-color: $primary-background;
    object-fit: cover;
    overflow: hidden;
  }
}
