@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$primary-background: #cdcdcd;

.contact {
  padding-top: 1rem;
}

.contact_section {
  padding-top: 1rem;
  border-top: 1px solid black;
  @include flex(row, flex-start, flex-end);
}

.contact_email {
  padding-left: 1rem;
}

.contact_button {
  font-size: 0.7rem;
  text-decoration: none;
  @include flex(row, flex-start, stretch);
}

.image {
  background-color: $primary-background;
  object-fit: cover;
  rotate: 90deg;
}
