@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap");

$primary-background: #cdcdcd;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1550px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-content {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.content {
  padding-inline: 1rem;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 4rem;
  }
}

.info_container {
  @include flex(column, center, flex-start);
  padding-top: 0.5rem;
  gap: 0.5rem;

  @include tablet {
    @include flex(row, flex-start, flex-end);
    gap: 0;
  }
}

.heading {
  font-weight: 400;
  padding-top: 1rem;
}

.link {
  text-decoration: none;
}

.info {
  padding: 0.25rem 0;
  border-bottom: 1px solid black;
  width: 100%;
}
.header {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.button_container {
  padding-bottom: 1rem;
  width: 100%;
  @include flex(row, space-between, stretch);

  @include tablet {
    @include flex(row, flex-end, stretch);
    gap: 0.5rem;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
  }
}

.summary {
  padding-top: 0.5rem;
}

.gallery {
  height: 140vh;
  width: 100%;
  background: rgba(45, 45, 45, 1);
  @include flex(row, center, stretch);
  gap: 1vw;
  padding: 1vw;
  box-sizing: border-box;
  overflow: hidden;

  .column {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    min-width: 8rem;
    position: relative;

    .image_container {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 1vw;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    &:nth-of-type(1) {
      top: -85%;

      @include desktop {
        top: -50%;
      }
    }

    &:nth-of-type(2) {
      top: -105%;

      @include desktop {
        top: -55%;
      }
    }

    &:nth-of-type(3) {
      top: -55%;

      @include desktop {
        top: -28%;
      }
    }
  }

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 4rem;
    height: 250vh;
  }
}

.spacer {
  height: 5vh;
}

.about {
  padding: 1rem;
  text-align: center;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 4rem;
  }
}

.card {
  padding-top: 1rem;
  @include flex(row, center, stretch);
  flex-wrap: wrap;
  gap: 1rem;
}

.tech_item {
  border: 1px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  width: 30%;
  max-width: 8rem;
  @include flex(row, center, stretch);
}

.video_container {
  width: 100%;
  max-height: 75vh;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  @include tablet {
    width: 80%;
  }

  @include desktop {
    width: 60%;
  }

  @include tablet {
    max-height: 80vh;
  }
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.process {
  padding: 1rem 1rem 0;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    padding-inline: 4rem;
  }
}

.process_text {
  padding: 0.5rem 0;
}
