@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.links {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid black;
  @include flex(row, flex-start, stretch);
}

.links_container {
  @include flex(column, center, flex-start);
  width: 50%;
  gap: 0.5rem;
}

.container_header {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.container_text {
  font-weight: 400;
  text-transform: uppercase;
}

.nav_link {
  text-decoration: none;
  color: black;
}

.footer_message {
  padding: 1rem;
  font-size: 0.9rem;
}
